@using ViewModel.Users;
@page "/"
@inherits ReactiveComponentBase<User>

<h3>Index</h3>
<MatButton OnClick="ClickGithub">Login with Github</MatButton>
<MatButton OnClick="ClickFacebook">Login with Facebook</MatButton>