<div class="@Layout.Container">
    <div class="@Layout.Inner">
        <div class="@Layout.Cell @Layout.CellAlign(Position.Middle)">
            <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
        </div>
    </div>
</div>